<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="assets/stylesheets/styles.css">
        {% block head %}

        {% endblock head %}
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        {% block js %}

        {% endblock js %}
    </body>
</html>
