<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mealplanner</title>
    </head>
    <body>
        {{{content}}} <!-- This is where the content of the page gets inserted -->
    </body>
</html>
