<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mealplanner</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="assets/stylesheets/styles.css">
    </head>
    <body>
        {{{content}}}
    </body>
</html>
